<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ДонНТУ</title>
    <!-- Fontawesome icon CSS -->
    <link rel="stylesheet" href="/assets/vendor\font-awesome-4.7.0\css\font-awesome.min.css" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/vendor\bootstrap-4.1.1\css\bootstrap.css" type="text/css">

    <!-- DataTables Responsive CSS -->
    <link href="/assets/vendor\datatables\css\dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/assets/vendor\datatables\css\responsive.dataTables.min.css" rel="stylesheet">

    <!-- jvectormap CSS -->
    <link href="/assets/vendor\jquery-jvectormap\jquery-jvectormap-2.0.3.css" rel="stylesheet">

    <!-- Adminux CSS -->
    <link rel="stylesheet" href="/assets/css\dark.css" type="text/css">
    <base href="/">
    <link rel="stylesheet" href="styles.42fe5cf496e3b39c7762.css">
</head>

<body class="menuclose menuclose-right">
    <div class="loader_wrapper align-items-center text-center">
        <div class="load7 load-wrapper">
            <img src="/assets/img\logo.png" alt="" class="loading_img">
            <div class="loader"> Загрузка... </div>
            <div class="clearfix"></div>
            <br>
            <br>
            <br>
            <br>
            <noscript><p>Включите поддержку javascript!</p></noscript>
            <p>Мы еще все для Вас подготавливаем... Осталось совсем чуть чуть....</p>
        </div>
    </div>



    <!-- jQuery first, then Tether, then Bootstrap JS. -->

    <script src="/assets/js\jquery-2.1.1.min.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <script src="/assets/vendor\bootstrap4beta\js\bootstrap.min.js" type="text/javascript"></script>

    <!--Cookie js for theme chooser and applying it -->
    <script src="/assets/vendor\cookie\jquery.cookie.js" type="text/javascript"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js\ie10-viewport-bug-workaround.js"></script>

    <!-- Circular chart progress js -->
    <script src="/assets/vendor\cicular_progress\circle-progress.min.js" type="text/javascript"></script>

    <!--sparklines js-->
    <script type="text/javascript" src="/assets/vendor\sparklines\jquery.sparkline.min.js"></script>

    <!-- jvectormap JavaScript -->
    <script src="/assets/vendor\jquery-jvectormap\jquery-jvectormap.js"></script>
    <script src="/assets/vendor\jquery-jvectormap\jquery-jvectormap-world-mill-en.js"></script>

    <!-- spincremente js -->
    <script src="/assets/vendor\spincrement\jquery.spincrement.min.js" type="text/javascript"></script>

    <!-- DataTables JavaScript -->
    <script src="/assets/vendor\datatables\js\jquery.dataTables.min.js"></script>
    <script src="/assets/vendor\datatables\js\dataTables.bootstrap4.js"></script>
    <script src="/assets/vendor\datatables\js\dataTables.responsive.min.js"></script>
    <!-- Page Loader Ends -->
    <app-root></app-root>

    <!-- custome template js -->
    <script src="/assets/js\adminux.js" type="text/javascript"></script>
    <!-- custome template js
<script src="/assets/js\dashboard1.js"></script>
 -->
    <script src="runtime-es2015.7d2ad402b320d17dd964.js" type="module"></script>
    <script src="runtime-es5.7d2ad402b320d17dd964.js" nomodule defer></script>
    <script src="polyfills-es5.683b18748fdd57b0481c.js" nomodule defer></script>
    <script src="polyfills-es2015.d6c42bbe6d056bce3112.js" type="module"></script>
    <script src="vendor-es2015.23dedb89330d39503070.js" type="module"></script>
    <script src="vendor-es5.23dedb89330d39503070.js" nomodule defer></script>
    <script src="main-es2015.580d0b9180b3b3416daa.js" type="module"></script>
    <script src="main-es5.580d0b9180b3b3416daa.js" nomodule defer></script>
</body>

</html>